@font-face{
	font-family: Robot;
	src: url(Roboto-Thin.ttf);
}

body{
	background-color: #F5F8DE;
}

p, 
h2, 
input[placeholder],
input[type=reset],
input[type=submit]{
	font-family: Robot;
}

hgroup{
	display: block;
	text-align: center;
	margin: 0;
	padding-top: 15px;
}

textarea{
	width: 450px; 
	height: 75%;

}

section{
	display: block;
	position: relative;
	top: 35%;
}

section form{
	text-align: center;
}

.fields, .submitButton{
	width: 400px;
	height: 50px;
	margin: 5px;
	text-align: center;
	font-size: 16pt;
	border: none;
}

.submitButton{
	background-color: white;
	border: none;
	width: 100px;
}

input[type="reset"]{
	width: 250px;
}

section:nth-child(4){
	top: 10%;
	width: 50%;
	display: block;
	position: relative;
	float: left;
}

section:nth-child(5){
	top: 10%;
	margin-right: 5px;
	display: block;
	position: relative;
	float: right;
	width: auto;
}
